*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 350px;
    height: auto;
    border: 2px solid palevioletred;
    border-radius: 8px;
    box-shadow: 0 0 10px pink;
    padding: 20px;
}

button{
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid violet;
    border-radius: 8px;
    cursor: pointer;
}
/* button:hover{
    background-color: whitesmoke;
    color: green;
    box-shadow: 2px 2px 8px green;
    font-size: 17px;

} */